.roadmap_name_h1 {
    color: white;
    font-family: "Trebuchet MS", serif;
    margin-left: 1%;
}

.roadmap_button {
    margin-left: 0.5%;
}

.roadmap_button_div {
    margin-left: 0.5%;
    display: flex;
}