.roadmap_primary_grid {

}

.roadmap_split_layout {

}

.roadmap_div_element {
    width: 100%;
}

.roadmap_menu_bar {
}

.roadmap_menu {
    position: relative;
}

.roadmap_search {
    position: absolute;
    left: 65%;
    right: 2%;
}

.question_status {
    width: 15px;
    height: 15px;
    margin-left: 24%;
}

.save_edited_topic_name {
    margin-left: 15%;
}

.cancel_edited_topic_name {
    margin-left: -20%;
}