.question_header_div {
    display: flex;
    width: 100%;
}

.question_dialog_name {
    margin-right: 60%;
}

.question_save_button {
    width: 100%;
}

.question_text {
    width: 100%;
}

.answer_text {
    width: 100%;
}



