@import url('div/roadmap_header_div.css');
@import url('div/roadmap_body_div.css');
@import url('div/roadmap_chapter_div.css');
@import url('dialog/question_info_dialog.css');
@import url('dialog/roadmap_dialog.css');

.roadmaps_view {
    display: flex;
    box-shadow: inset 1px 1px 10px -1px #6B6E70;
    margin-right: 1vh;
}

.roadmaps_layout {
    width: 100%;
    padding: 1%;
    margin-top: -1%;
}

.roadmaps_header_layout {
    margin-bottom: -0.5%;
    display: flex;
    width: 100%;
}

.roadmaps_name {
    color: white;
}

.roadmaps_search {
    margin-left: auto;
    margin-right: 1.5%;
}

.roadmaps_delete_button {
    background: unset;
    border-radius: 45%;
}

.roadmaps_create_button {
    width: 100%;
    align-content: center;
}

