.profile-view {
    width: 100%;
}

.profile-layout {
    width: 100%;
}

.profile-header-layout {
    display: flex;
    width: 100%;
}

.profile-from-layout {
    width: 100%;
}

.profile-avatar {
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.profile-name {
    width: 100%;
}

.profile-email {
    width: 100%;
}
