vaadin-scroller[slot="drawer"] {
    padding: var(--lumo-space-s);
}

[slot="drawer"]:is(header, footer) {
    display: flex;
    align-items: center;
    gap: var(--lumo-space-s);
    padding: var(--lumo-space-s) var(--lumo-space-m);
    min-height: var(--lumo-size-xl);
    box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
    display: none;
}



:host([selected]) {
    background: #8860D0;
}

.main_layout {
    background: #222629;
}

.main_navigation_bar_tabs {
    align-content: center;
    margin-left: auto;
    margin-right: -10%;
    width: 100%;
}

.application_name_text {
    margin-left: 5%;
    font-size: 20px;
    font-weight: 600;
}

.locale_change {
    margin-right: 1%;
    margin-left: auto;
    animation: show 1s;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 60%;
    }
    100% {
        opacity: 100%;
    }
}
