@import url('main-layout.css');
@import url('login-view.css');
@import url('sign-up-view.css');
@import url('profile/profile-view.css');
@import url('roadmaps/roadmap_view.css');
@import url('home/home_view.css');

vaadin-tab::before {
    color: #86C232;
    background-color: #86C232;
}

vaadin-tab[selected] {
    color: #86C232;
}

vaadin-tab:hover {
    color: #86C232;
}

vaadin-tab {
    color: white;
    width: 110px;
    height: 50px;
    font-size: 20px;
    animation: show 0.5s;
}

vaadin-combo-box {
    animation: show 0.5s;
}

vaadin-combo-box::part(input-field) {
    background-color: white;
}

vaadin-combo-box > label {
    color: white;
}

vaadin-combo-box[readonly]::part(input-field) {
    background: #d3dadc;
}

vaadin-combo-box::part(input-field)::after {
    border-style: none;
    border-width: 0px;
    border-color: white;
}

vaadin-app-layout::part(drawer) {
    background-color: unset;
}

vaadin-app-layout::part(navbar) {
    background: unset;
}

vaadin-drawer-toggle::part(icon) {
    color: #86C232;
}

vaadin-side-nav-item:hover {
    background-color: #86C232;
}

vaadin-side-nav-item[path] {
    color: black;
}

vaadin-side-nav-item[active] {
    background-color: #86C232;
}

vaadin-side-nav-item::part(item) {
    color: white;
}

vaadin-text-field {
    animation: show 0.5s;
}

vaadin-text-field::part(input-field) {
    background: linear-gradient(0.1turn, white, #d3dadc);
}

vaadin-text-field::part(input-field)::after {
    border-style: none;
    border-width: 0px;
    border-color: white;
}

vaadin-text-field > label {
    color: white;
}

vaadin-text-field[readonly]::part(input-field) {
    background: #d3dadc;
}

vaadin-text-field[focused]::part(input-field) {
    background: #d3dadc;
}

vaadin-button {
    color: black;
    background: #86C232;
    animation: show 0.5s;
}

vaadin-button > vaadin-icon {
    color: #222629;
}

vaadin-button:hover {
    background: #6B6E70;
}

vaadin-avatar {
    background-color: #d3dadc;
    animation: show 0.5s;
}

vaadin-grid {
    max-height: 250px;
    background: #222629;
    border-style: unset;
    animation: show 0.5s;
}

vaadin-grid::part(cell) {
    background: #222629;
    border-color: #6B6E70;
}

vaadin-grid-cell-content {
    color: white;
}

vaadin-grid::part(selected-row-cell) {
    background: rgba(110,110,110,0.45)
}

vaadin-accordion-heading {
    color: white;
}

vaadin-accordion-heading::part(toggle) {
    color: #86C232;
}

.div_element {
    display: flex;
    width: 100%;
}

vaadin-progress-bar::part(bar) {
    background-color: unset;
}

vaadin-dialog-overlay::part(header) {
    background: #222629
}

vaadin-dialog-overlay::part(content) {
    background: #222629
}

vaadin-text-area {

}

vaadin-text-area::part(input-field) {
    border-style: none;
    border-width: 0px;
    border-color: white;
}

vaadin-text-area::part(label) {
    color: white;
}

vaadin-checkbox > label {
    color: white;
}

vaadin-checkbox::part(checkbox) {
    background: #86C232;
}

vaadin-checkbox::part(checkbox)::after {
    color: black;
}

vaadin-upload::part(drop-label) {
    color: white;
}

vaadin-upload > [slot="drop-label-icon"]::before {
    color: #86C232;
}

vaadin-upload {
    display: flex;
    width: 100%;
    border-style: solid;
    border-color: #86C232;
    border-width: 1px;
}
