.main-dialog {

}

.header-layout-dialog {
    display: flex;
    width: 100%;
}

.header-name-dialog {
    color: white;
}

.close-button-dialog {
    color: white;
    margin-left: auto;
}

vaadin-dialog-overlay::part(overlay) {
}

vaadin-dialog-overlay::part(header) {
    background-color: #383838;
}
