.profile_view {
    display: flex;
    box-shadow: inset 1px 1px 10px -1px #6B6E70;
    margin-right: 1vh;
    height: 90vh;
}

.profile_header_layout {
    width: 100%;
}

.profile_bottom_layout {
    width: 100%;
}

.profile_button_layout {
    margin-left: auto;
}

.profile_button_layout_2 {
    margin-top: 5%;
    margin-left: auto;
}

.profile_avatar {
    width: 70px;
    height: 70px;
}

.profile_full_name {
    color: white;
}












