.accordion_panel_name_div {
    display: flex;
    margin-top: -1.5%;
    margin-bottom: -1.5%;
    width: 100%;
    align-items: center;
}

.accordion_panel_name_h4 {
    font-size: large;
}

.roadmap_select {
    margin-right: 2%;
    margin-left: auto;
}