.news-card {
    border-radius: 15px;
    background-color: #6e6e6d;
}

.news-card-header {
    width: 100%;
}

.news-card:hover {
    background-color: rgba(110, 110, 109, 0.7);
}

.card-name {
    font-size: 20px;
    color: white;
}

.news-card-image {
    border-radius: 10px;
    width: 100%;
    height: 80%;
}

.news_card_delete {
    height: 10px;
    width: 100%;
    color: #383838;
    background-color: unset;
}

.news-card-drop-down-menu {
    margin-top: 0.5%;
    width: 80px;
    margin-left: auto;
    background-color: unset;
}

.news-card-menu-bar-icon {
    color: white;
}

.news-card-menu-item {
    background-color: unset;
}
