.roadmap-tree-split-layout {
    width: 100%;
    height: 100%;
}

.roadmap-tree-layout {
    display: block;
    border-style: groove;
    border-width: 1px;
    height: 100%;
}

.possible-drop-zone {
    background-color: rgba(225,225,225,0.16);
}

.roadmap-tree-item {
}

.v-drag-over-target {
    border-bottom-style: double;
}

.roadmap-tree-item-top-drop {
}

.roadmap-tree-item-bot-drop {
}

.roadmap-tree-main-data-layout {
    display: flex;
    padding-left: 15px;
    align-items: center;
}

.roadmap-tree-main-data-layout:hover {
    background-color: rgba(54,54,54,0.16);
}

.roadmap-tree-drop-down-data-layout {
    padding-left: 40px;
    align-items: center;
}

.roadmap-tree-drop-down-button {
    background-color: unset;
}

.roadmap-tree-drop-down-button > vaadin-icon {
    width: 15px;
    height: 15px;
}

.roadmap-tree-action-button-open > vaadin-icon {
    animation-name: rotation-open;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

.roadmap-tree-action-button-close > vaadin-icon {
    animation-name: rotation-close;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

.roadmap-tree-meta-layout {
    padding-left: 10px;
    animation-name: opacity;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

.roadmap-tree-item-name {
    width: 100%;
    height: 100%;
}

.chapter-item-workspace {
    height: 100%;
    width: 100%;
}

.roadmap-tree-dialog::part(content) {
    justify-content: center;
    align-items: center;
    width: 500px;
}

.roadmap-tree-dialog-question::part(content) {
    width: 700px;
}

.roadmap-tree-dialog::part(footer) {
    justify-content: space-between;
}

.roadmap-tree-dialog > [slot="title"] {
    color: white;
}

.roadmap-tree-message-dialog {
    margin-top: 5%;
    text-align: center;
}

.roadmap-tree-item-selected {
    background-color: rgba(54,54,54,0.45);
}

@keyframes rotation-open {
    100% {
        transform:rotateZ(90deg);
    }
}

@keyframes rotation-close {
    0% {
        transform:rotateZ(90deg);
    }
    100% {
        transform:rotateZ(0deg);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}